# ===== ENV =====
.env
**/.env

# ===== Node / React =====
node_modules/
dist/
build/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== Java / Spring Boot =====
target/
.mvn/
mvnw
mvnw.cmd
*.class
*.jar
*.war
*.ear
*.log

# ===== IDE =====
.vscode/
.idea/
*.iml
*.ipr
*.iws

# ===== OS =====
.DS_Store
Thumbs.db